body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    

  }
  
  .menu-container {
    padding: 80px;
    max-width: 80%;
    margin: auto;
    
    
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    
  }
  
  .header p {
    font-size: 1.2rem;
    color: #ccc;
    
  }
  
  .section {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
   .section img {
    width: 250px;
    height: 250px;
    border: 5px solid#ff6600; /* Agrega un borde naranja de 5px */
    border-radius: 50%; 

  }

  #imagen {
    order: 2; 
    object-fit: cover;
  }
  
  
  .section-content {
    flex: 1;
    color: black;
  }
  
  .section-content h3 {
    background-color: #ff6600;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    font-weight: bold;
    
  }
  
  .section-content ul {
    list-style: none;
    padding: 0;
    
    
  }
  
  .section-content ul li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    color: white;
    margin-right: 30%;
  }
  
  .footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
  }
  
  .footer p {
    margin: 5px 0;
    color: black;
    background-color: #ff6600;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    font-weight: bold;
  }


 
 
  
@media (max-width: 768px) {
  .section {
    flex-direction: column; 
    text-align: center; 
  }

  .section img {
    width: 200px; 
    height: 200px;
    margin: auto; 
  }

  .header h1 {
    font-size: 2.5rem; 
  }

  .header p {
    font-size: 1rem; 
  }

  .menu-container {
    padding: 40px; 
  }
}


@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem; 
  }

  .header p {
    font-size: 0.9rem;
  }

  .section img {
    width: 150px; 
    height: 150px;
  }

  .section-content h3 {
    font-size: 1.2rem; 
  }

  .section-content ul li {
    font-size: 0.9rem; 
  }

  .footer p {
    font-size: 0.8rem; 
  }
}

@media (min-width: 1201px) {
  .menu-container {
    max-width: 60%; 
  }
  .header h1 {
    font-size: 4rem;
  }
  .section img {
    width: 300px;
    height: 300px;
  }
}
